[*.cs]

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = false

# IDE0008: Use explicit type
csharp_style_var_for_built_in_types = false

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = warning
